<nav>
	<ul>
		<li><a href="/shop" class="<%= page == 'shop' ? 'active' : '' %>">Shop</a></li>
		<li><a href="/admin/products" class="<%= page == 'products' ? 'active' : '' %>">Products</a></li>
		<li><a href="/admin/add-product" class="<%= page == 'products' ? 'active' : '' %>">Add Product</a></li>
		<li><a href="/cart" class="<%= page == 'cart' ? 'active' : '' %>">Cart</a></li>
	</ul>
</nav>

